/* PRINT CSS
* To make look pretty nice my web :)
*/
@media print {
	
	.profile-image{
		position: absolute;
		right: 15px;
		top: -50px;
		max-width: 350px;
		float: right;
		clear: none;
	}
	
	.top-fix {
		position: relative;
		top: -175px;
	}
	
	.presentation-text{
		font-size: 13px;
		color: #212121;
		position: relative;
		text-align: justify;
		left: 0px;
		max-width: 515px;
		float: left;
	}
	
	.print-this{
		display: block;
		float: left;
		color: #212121;
	}
	
	.yellow-text{
		color: #ffc200;
		clear: none;
	}
	
	.laboral{
		scale: 55%;
		max-block-size: 500px;
		position: fixed;
		top: 350px;
		left: -150px;
	}
	
	.studies{
		scale: 55%;
		max-block-size: 500px;
		position: fixed;
		top: 425px;
		left: 250px;
	}

	
	.habilities{
		scale: 60%;
		position: fixed;
		text-align: center;
		right: 150px;
		top: 350px;
		max-width: 600px;
		float: right;
	}
	
	.qr{
		scale: 55%;
		text-align: center;
		position: fixed;
		left: 425px;
		top: 200px;
		max-width: 250px;
		float: right;
	}
	
	.exp1{
		scale: 45%;
		position: fixed;
		right: -250px;
		top: 125px;
		float: right;
	}
	
	.exp2{
		scale: 45%;
		position: fixed;
		right: -500px;
		top: 125px;
		float: right;
	}
	
	.contact{
		position: fixed;
		float: left;
		left: 80px;
		top: 285px;
		max-width: 400px;
	}
	
}

@media screen {
	
	.not-show{
		display: none;
	}
	
}